.customPostPage {
  display: flex;
  flex-direction: row-reverse;
}

.customPostPage th {
  display: none;
}

.customPostPage .num {
  display: none;
}

.customPostPage .link-bottom-line {
  display: none;
}

.suggested-topics {
  margin-top: 0px;
}
